.breadcrumbs {
  white-space: nowrap;
}
.subtle,
.slash {
  opacity: 0.75;
  font-weight: 300;
}
.slash {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.files {
  min-width: 33%;
  max-width: 500px;
}
